<h1 class="title">To-Do-List</h1>
<body>
    <div class="add-first-name">
    <form action="">
       <input type ="text"
        class="first-name-add"
        placeholder="First Name"
        aria-label="First Name"
        />
    </form>
    </div>
    <bk></bk>
    <form action="">
        <div class="add-last-name">
        <input type="text"
        class="last-name-add"
        placeholder="Last Name"
        aria-label="Last Name"
        />
        </form>
        </div>
    <bk></bk>
    <form action="">
        <h2>Add task-add</h2>
        <textarea id="task-add"
           rows="4" cols="50"></textarea>
        <br><br>

    </form>
    <form action="">
        <input type="email">
        placeholder="email">
        <br><br>
        <input type="tel"
        placeholder="phone number">
    </form>
        <input type="submit" value="Submit">
    </form>


</body>
